.addCate {
  width: 100%;
  height: 100%;
}

.addCate2 {
  width: 100%;
  margin-top: 10px;
}

.addCate2_form {
  width: 25rem;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addCate2_input1 {
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  font-size: 18px;
}

.addCate2_input1::placeholder {
  font-size: 18px;
}

.addCate2_btn {
  border: none;
  height: 2.7rem;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  font-weight: 700;
  background-color: #dc150e;
  text-transform: capitalize;
  font-family: "Nunito Sans", sans-serif;
}

.addCate2_btn:hover {
  background-color: #bc130d;
}