.admin {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.admin_main {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fb;
}

.admin_content {
    width: 100%;
    height: 100%;
    flex: 1;
    padding: 15px 30px;
    line-height: 1;
    position: relative;
}