.add-product-page {
  background: #f6f7fb;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

.css-jhr02i-MuiBreadcrumbs-separator {
    margin: 0 3px!important;
    color: #4d4d4d!important;
}

.css-nv1n36-MuiTypography-root-MuiLink-root {
    color: #4d4d4d!important;
}

.css-4leci6-MuiTypography-root {
    color: #1e1f20!important;
    font-weight: 500!important;
}

.addProduct-title {
    font-size: 34px;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin-top: 15px;
}

.sub-text {
    font-size: 14px;
    color: #888;
    margin: 2.5px 0 0 5px;
    font-family: "Open Sans", sans-serif;
}

.addProduct-content {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 20px;
    margin-top: 15px;
}

.addProduct_card {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.addProduct_card-title {
    font-size: 1.75rem;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.addProduct_label-text {
    display: block;
    font-size: 16px;
    color: #555;
    margin-top: 15px;
    margin-bottom: 5px;
}

.addProduct-input,
.addProduct-textarea {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
    font-family: "Open Sans", sans-serif;
}

.addProduct-input:focus,
.addProduct-textarea:focus {
    border-color: #2684FF;
    outline: 1px solid #2684FF;
}

.addProduct-input {
    height: 45px;
    padding: 0 12px;
}

.addProduct-textarea {
    resize: none;
    padding: 10px 12px;
}

.input_numberQ {
    width: 100%;
    height: 2.75rem;
    border-radius: 5px;
    outline: none;
    border: 1px solid #c9bdbd;
    /* margin-top: 5px; */
    padding-left: 10px;
}

.css-13cymwt-control, .select__control--is-focused {
    min-height: 45px!important;
}

.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.addProduct_labelN {
    margin-top: 0;
}

.addProduct_number-input {
    width: 95%;
    min-height: 45px;
    margin-top: 5px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.addProduct_number-input:focus {
    border-color: #2684FF;
    outline: 1px solid #2684FF;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Image */
.image-upload {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.upload-box {
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px dashed #22c55e;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    color: #22c55e;
    font-size: 14px;
}

.upload-text {
    white-space: pre-line;
}

.upload-input {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #22c55e;
}

.preview-box {
    width: 120px;
    height: 120px;
    background: #e5e7eb;
    border-radius: 10px;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
}

.btn-outline {
    padding: 10px 18px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}

.btn-primary {
    padding: 10px 18px;
    border-radius: 8px;
    border: none;
    background: #22c55e;
    color: #fff;
    cursor: pointer;
}