.rpa {
    width: 100%;
    height: 100%;
}

.rpaDiv_blk {
    width: 28rem;
    margin-top: 10px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.rpaDiv_blk-title {
    font-size: 1.6rem;
    font-weight: 800;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

.rpaDiv_blk-form {
    margin-top: 15px;
}

.rpaDiv_blk-btn {
    font-family: "Nunito Sans", sans-serif;
}

.rpaDiv_blk-password {
    width: 22rem;
    height: 2.5rem;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-right: 7px;
}

.rpaDiv_blk-text {
    font-size: 1rem;
    color: #474545;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 5px!important;
}

.rpaDiv_blk-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding-left: 10px;
}

.rpaDiv_blk-icon {
    font-size: 1.5rem;
}

.rpaDiv_blk-btn {
    width: 22rem;
    height: 2.8rem;
    color: #fff;
    background-color: #ed1a12;
    margin-top: 10px;
    font-family: "Nunito Sans", sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 5px;
    border: none;
    padding: 0;
    font-size: 1.1rem;
}

.rpaDiv_blk-btn:active, .rpaDiv_blk-btn:hover {
    background-color: #ff5953;
}