.header_admin {
    width: 100%;
    height: 4.3rem;
    background-color: #6fb0f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 2rem 5px 2.5rem;
}

.header_admin2, .header_admin3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header_admin2 {
    column-gap: 5px;
    background-color: #fff;
    padding: 0 8px;
    border-radius: 5px;
}

.header_admin-input {
    width: 25rem;
    height: 2.5rem;
    border-radius: 5px;
    outline: none;
    border: none;
}

.header_admin-icon {
    font-size: 2.4rem;
    color: #1d87ff;
    text-align: center;
}

.admin-nameAvt {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: "Nunito Sans", sans-serif;
    user-select: none;
}

.css-sr2mjo-MuiButtonBase-root-MuiIconButton-root {
    margin-left: 10px!important;
}

.header_admin1-title {
    font-size: 1.3rem;
    color: #fff; 
    text-transform: capitalize;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
}

.header_menu-icon {
    font-size: 1.3rem;
    margin-right: 5px;
    line-height: 1!important;
    margin-top: -2px!important;
}

.MuiMenuItem-gutters, .css-1rju2q6-MuiButtonBase-root-MuiMenuItem-root {
    font-size: 1.05rem!important;
    line-height: 1!important;
    text-align: center!important;
    padding: 8px 18px!important;
    display: flex!important;
    justify-content: start!important;
    align-items: center!important;
    flex-direction: row!important;
}