ul, li {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.sidebar {
    width: 18rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.sidebar-link {
    width: 100%;
    height: 4.3rem;
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    padding: 5px 0 5px 1rem;
}

.sidebar-img {
    height: 100%;
}

.sidebar_nav {
    width: 100%;
    height: 100%;
    column-gap: 10px;
}

.nav-items {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: default;
    border-bottom: 1px solid #e0d6d6;
    flex-direction: row;
    padding: 15px 1rem 15px 1.5rem;
    column-gap: 8px;
}

.nav-items:last-child {
    border-bottom: none;
}

.nav-itemList {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 8px;
}

.nav-iconD {
    font-size: 1.25rem;
    color: #646976;
    margin-top: -3px;
    line-height: 1;
}

.nav_item-list {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: start;
    line-height: 1;
    flex-direction: column;
    background-color: #878e9a;
    border-bottom: 1px solid #e0d6d6;
    padding-left: 2rem;
    display: none;
}

.adminItem-list {
    width: 100%;
    padding: 17px 20px;
    border-left: 5px solid #acc3ffb2;
    border-bottom: 2px solid #bacdffb2;
    cursor: pointer;
    font-size: 1.1rem;
    color: #6dadff;
    font-weight: 500;
    font-family: "Nunito Sans", sans-serif;
    background-color: #fff;
}

.adminItem-active {
    color: #5e35b1;
    background-color: #ede7f6;
    border-left: 5px solid #5e35b1;
    border-bottom: 2px solid #5e35b1;
}

.adminItem-list:hover,
.adminItem-list:active {
    color: #5e35b1;
    border-left: 5px solid #5e35b1;
    border-bottom: 2px solid #5e35b1;
}

.adminItem-list:last-child {
    border-bottom: none;
}

.nav-text {
    color: #4c5157;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: "Nunito Sans", sans-serif;
}

.nav-iconDiv {
    width: 1.35rem;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav-icon {
    font-weight: 600;
    color: #646976;
    font-size: 1.4rem;
    text-align: center;
}

.nav_img-icon {
    height: 1.35rem;
    color: #646976;
}

.nav-iconO {
    font-size: 1.35rem;
}

.nav-iconP {
    font-size: 1.5rem;
}

.nav-iconPr {
    font-size: 1.7rem;
    margin-left: -3px;
}

.nav-active, .nav-items:hover {
    background: #e0f3ff;
}

.nav-active .nav-text,
.nav-active .nav-icon  {
    color: #3f6ad8;
    font-weight: 700;
}

.nav-active .nav_img-icon {
    fill: #3f6ad8;
}

.nav-item:hover .nav-icon,
.nav-item:hover .nav-text,
.nav-item:hover .nav-iconN,
.nav-item:active .nav-icon,
.nav-item:active .nav-text,
.nav-item:active .nav-iconN {
    color: #3f6ad8;
}

