#item2 {
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #3c3939;
    border-radius: 10px;
    overflow: hidden;
}

#item2_image {
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid #3c3939;
    position: relative;
}

#item2_image-link {
    width: 100%;
    height: 100%;
}

.item2_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item2_image-icon {
    position: absolute;
    z-index: 2;
    top: 3px;
    right: 2px;
    font-size: 2rem;
}

#item2_content {
    width: 100%;
    height: 8rem;
    padding: 7px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.item2_content-title {
    font-size: 1.15rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#item2_content-priceBrand {
    width: 100%;
}

#item2_content-brand {
    font-size: 18px;
    color: #a0a0a0;
    text-transform: uppercase;
    line-height: 1.5;
}

#item2_content-price {
    font-size: 1.5rem;
    color: #ee4d2d;
    margin-bottom: 0!important;
    line-height: 1;
}