#item1 {
    width: 15rem;
    height: 20rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border: 1px solid #3c3939;
    border-radius: 10px;
    overflow: hidden;
}

#item1_image {
    width: 100%;
    height: 12rem;
    border-bottom: 1px solid #3c3939;
    position: relative;
}

#item1_image-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.item1_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item1_image-icon {
    position: absolute;
    z-index: 2;
    top: 2px;
    right: 1px;
    font-size: 2rem;
}

#item1_content {
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
}

.item1_content-title {
    font-size: 17px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Open Sans', sans-serif;
}

#item1_content-priceBrand {
    width: 100%;
}

#item1_content-brand {
    font-size: 14px;
    color: #a0a0a0;
    text-transform: uppercase;
    margin-bottom: 0!important;
    line-height: 1.7;
}

#item1_content-price {
    font-size: 24px;
    color: #ee4d2d;
    line-height: 1;
    margin-bottom: 0!important;
}