#cartPage {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#cart_content {
    width: 100rem;
    margin-top: 15px;
}

#cart_content, #cart_header, #cart_container {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cart_header, #cart_container {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
}

#cart_container {
    margin-top: 10px;
    background-color: #fff;
}

#cart_title, #cart_description {
    width: 100%;
    height: auto;
    display: flex;
    background-color: #fff;    
    justify-content: space-between;
}

#cart_title {
    padding: 12px 25px 12px 25px;
    align-items: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 1px solid #838383;
}

#cart_title-text {
    font-size: 1.5rem;
    user-select: none;
    color: #d81f19;
    font-weight: 600;
}

#cart_time {
    font-size: 1.2rem;
    cursor: default;
}

#cart_description {
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 8px 25px 8px 25px;
}

#cart_description1, #cart_description2 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#cart_description1 {
    width: 58rem;
    column-gap: 1.2rem;
    justify-content: start;
}

#cart_description2 {
    width: 42rem;
    column-gap: 2rem;
    justify-content: space-between;
}

#cart_description1-check, #cart_list-check {
    width: 1.15rem;
    height: 1.15rem;
}

.cartPage_title-product {
    width: 100%!important;
}

.cartPage_title-text1, .cartPage_title-text2 {
    user-select: none;
    font-size: 1.125rem;
    cursor: default;
}

.cart_empty {
    width: 100%;
    height: auto;
    display: flex;
    padding: 2rem 25px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cart_empty-img {
    width: 30%;
    height: 100%;
    background: transparent;
    margin-top: 15px;
}

#cart_empty-text {
    font-size: 2rem;
    font-weight: 500;
    color: #a7a7a7;
    font-family: "Open Sans", sans-serif;
    user-select: none;
}

#cart_list {
    width: 100%;
    margin-bottom: 0;
    list-style-type: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 15px 25px;
}

#cart_list-item {
    width: 100%;
    height: auto;
    border-radius: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #838383;
    margin-top: 15px;
    padding-bottom: 15px;
}

#cart_list-item:first-child {
    padding-bottom: 15px;
    margin-top: 0;
}

#cart_list-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

#cart_list-item, #cart_list-item1, #cart_list-product, #cart_list-item2, .cart_list-quantity {
    display: flex;
    flex-direction: row;
}

#cart_list-product {
    column-gap: 10px;
}

#cart_list-item, #cart_list-item1, #cart_list-item2 {
    align-items: center;
}

#cart_list-item1 {
    width: 58rem;
    justify-content: start;
    column-gap: 1.2rem;
}

#cart_list-item2 {
    width: 42rem;
    justify-content: space-between;
    column-gap: 2rem;
}

#cart_list-img {
    max-height: 7rem;
    column-gap: 2rem;
    border-radius: 3px;
    border: 1px solid #bcbcbc;
}

#cart_list-text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}

#cart_list-title {
    line-height: 1;
    font-size: 1.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#cart_list-cate {
    font-size: 1.05rem;
    margin-top: 5px;
    color: #8e8e8e;
}

#cart_list-title, #cart_list-cate {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cart_list-price, #cart_list-money {
    font-size: 1.2rem;
    font-family: "Poppins", sans-serif;
}

#cart_list-money {
    color: #d81f19;
    font-weight: 500;
}

.cart_list-quantity {
    justify-content: center;
    align-items: center;
}

.cart_list-input, .cart_list-btn1, .cart_list-btn2 {
    border: 1px solid #c2c2c2;
}

.cart_list-input {
    width: 4rem;
    height: 2.7rem;
    outline: none;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
}

.cart_list-btn1, .cart_list-btn2 {
    width: 2.5rem;
    height: 2.7rem;
    background-color: #fff;
    font-size: 22px;
    color: #626262;
}

.cart_list-btn1:active, .cart_list-btn2:active {
    color: #fff;
    background-color: #2781ff;
}

.cart_list-btn1 {
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.cart_list-btn2 {
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cart_list-icon {
    line-height: 1;
    color: #646464;
    font-size: 1.7rem;
    cursor: pointer;
}

.cart_list-icon:active, .cart_list-icon:hover {
    color: #d81f19;
}

/* Tiêu đề */
.cartPage_title-text2 {
    text-align: center;
}

.cartPage-price, .cartPage-money {
    width: 25%;
    text-align: center;
}

.cartPage-quatityProduct {
    width: 35%;
    text-align: center;
}

.cartPage-action {
    width: 15%;
    text-align: center;
}

/* Cart sản phẩm */
.cart_product {
    text-align: center;
}

#cart_list-price, #cart_list-money {
    width: 25%;
    text-align: center;
    user-select: none;
}

.cart_list-quantity {
    width: 35%;
    text-align: center;
}

#cart_list-linkIcon {
    width: 15%;
    text-align: center;
}

#cart_payment {
    width: 100rem;
    height: auto;
    padding: 15px 50px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
}

#cart_payment, #voucher_item1, #voucher_item2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart_payment {
    margin-top: 10px;
    flex-direction: column;
}

#voucher {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: 1px solid #d3d3d3;
}

#voucher_item1 {
    column-gap: 1rem;
    flex-direction: row;
}

#voucher_item2 {
    flex-direction: row;
}

#voucher_item1-img {
    width: 1.5rem;
}

#voucher_item1-text, .voucher_item2-text {
    font-size: 1.15rem;
    font-family: "Poppins", sans-serif;
}

.voucher_item2-text, .voucher_item2-icon {
    color: #3187ff;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
}

.activeCart:hover, .activeCart:active {
    color: #296cca;
}

#voucher_item1-text, .voucher_item2-text, .voucher_item2-icon {
    font-family: "Nunito Sans", sans-serif;
}

#voucher_item1-text {
    font-weight: 600;
    user-select: none;
}

.voucher_item2-icon {
    font-size: 1.7rem;
}

#amount {
    width: 100%;
    height: auto;
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: row;
    padding-top: 8px;
}

#amount1, #amount2, #amount_remove-text, #amount_count {
    font-family: "Nunito Sans", sans-serif;
}

#amount2 {
    width: 35rem;
    border-left: 1px solid #d3d3d3;
    padding-left: 25px;
}

#amount_count {
    font-size: 1.1rem;
}

.amount_remove {
    color: #d81f19;
    font-size: 1.2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
    column-gap: 7px;
    font-weight: 600;
    margin-top: 5px;
    cursor: pointer;
}

.donRemove {
    color: #8e8e8e;
    pointer-events: none;
}

.amount_remove-icon {
    font-size: 1.3rem;
}

#amount_remove-text {
    padding-top: 1px;
    line-height: 1;
}

#amount_count {
    color: #818181;
    user-select: none;
}

#amount_title1, #amount_title2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#amount_title1 {
    padding: 10px 0;
    border-bottom: 1px solid #d3d3d3;
}

#amount_title2 {
    padding: 24px 0;
}

#amount_title1-text, #amount_title1-money,
#amount_title2-text, #amount_title2-money {
    font-family: "Nunito Sans", sans-serif;
}

#amount_title1-text, #amount_title1-money {
    line-height: 1;
    font-size: 1.2rem;
    user-select: none;
    color: #747474;
}

#amount_title2-text, #amount_title2-money {
    line-height: 1;
    font-size: 1.35rem;
    user-select: none;
    font-weight: bold;
}

#amount_title2-text {
    color: #d81f19;
}

#amount_title2-money {
    color: #d81f19;
    font-size: 1.5rem;
    font-weight: 700;
}

.amount_btn {
    width: 100%;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0;
    line-height: 1;
    background-color: #ff1313;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.amount-noClick {
    cursor: default;
    background-color: #d4d4d4;
    user-select: none;
}

.amount_notifi {
    font-size: 1.1rem;
    color: #d81f19;
    font-family: 'Open Sans', sans-serif;
    margin-top: 3px;
}