#header {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#blk_header1 {
    width: 105rem;
    height: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2%;
    padding: 13px 10% 13px 10%;
}

#blk_logoHeader, #blk_search, #blk_user, .blk_user-icon {
    display: flex;
    align-items: center;
}

/* Logo */
#blk_logoHeader {
    width: auto;
    height: 3.5rem;
    justify-content: center;
}

#header_logo-img {
    width: auto;
    height: 100%;
}

/* Input Tìm Kiếm */
#blk_search {
    width: 32rem;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    border: 1.5px #515151 solid;
    margin-left: 5rem;
    position: relative;
}

#input-search {
    width: 100%;
    height: 100%;
    font-size: 18px;
    outline: none;
    border: none;
    padding-left: 15px;
    border-radius: 8px;
    text-align: start;
}

#blk_search-icon {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 2px 3px 0;
}

#search {
    width: 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff1111;
    border-radius: 5px;
    /* margin-right: 2.5px; */
    border: none;
}

#search:active, #search:hover {
    background-color: #db1111;
}

.search-icon {
    font-size: 30px;
    color: #fff; 
}

/* Bảng kết quả tìm kiếm */
#blk_listSearch {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border: 0.5px #9d9d9d solid;
    border-radius: 5px;
    top: calc(0.5px + 45px);
    overflow: hidden;
}

#list_search-result {
    width: 100%;
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px 10px;
    overflow-y: hidden;
    transition: all 0.2s ease;
}

#list_search-result.scrollable {
    height: 25rem;
    overflow-y: scroll;
}

#item_search-result {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

#item_search-result:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#item_search {
    width: 100%;
    height: 7rem;
    display: flex;
    column-gap: 12px;
}

#img_search {
    width: 7rem;
    height: 100%;
    object-fit: cover;
}

#b_title-search {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#title_search-product {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: calc(1.4em * 2);
}

#brand_search-product {
    font-size: 16px;
    text-transform: uppercase;
    color: #9e9e9e;
}

#price_search-product {
    font-size: 19px;
    font-weight: 500;
}

.text_search {
    margin: 0;
    padding: 0;
}

/* Tài Khoản */
#blk_user {
    width: auto;
    justify-content: end;
    flex-direction: row;
    column-gap: 2rem;
    margin-top: 5px;
}

.blk_user-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2.5px;
}

.blk_user-icon:active, .blk_user-icon:hover {
    cursor: pointer;
}

.user-icon {
    font-size: 1.7rem;
}

.title_text-icons {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

#blk_header2 {
    width: 100%;
    height: 4rem;
    border-top: 1px solid #4e4e4e;
    background-color: #d81f19;
    border-bottom: 2px solid #4e4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerDiv {
    width: 115rem;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 950!important;
    }
}

@media (min-width: 1300px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1150px!important;
    }
}

@media (min-width: 1500px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1250px!important;
    }
}

@media (min-width: 1600px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1350px!important;
    }
}

@media (min-width: 1900px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1550px!important;
    }
}

@media (min-width: 2000px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1650px!important;
    }
}

@media (min-width: 2100px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1850px!important;
    }
}

.navbar-nav {
    column-gap: 1.2rem;
}

.navDivH {
    width: 105rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navDivHeader {
    width: 75rem;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 2rem;
}

.nav-link {
    font-size: 20px!important;
    color: #fff!important;
}

.nav_link-textH {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 20px!important;
    font-family: 'Open Sans', sans-serif;
}

.nav-link-home {
    margin-top: -1.5px;
}

.navbar-nav {
    margin-left: 15px;
}

#block_header-account {
    width: 10rem;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
    padding: 13px 5px;
    top: 55px;
    right: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1.5px solid #7f7f7f;
    column-gap: 5px;
}

.logout-button {
    width: 100%;
    font-size: 1.1rem;
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_loginH, .button_signup {
    font-size: 16px;
    border: 1px solid #318aff;
    border-radius: 5px;
    color: #318aff!important;
}

.activeHeader {
    color: #fff!important;
    background-color: #318aff;    
}

.button_signup {
    width: auto;
    padding: 5px 10px;
}

.button_loginH {
    width: 7.5rem;
    height: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1;
}



#blk_user {
    position: relative;
}

.header_addQuantity-cart {
    width: 1rem;
    height: 1rem;
    color: #fff;
    font-size: 0.8rem;
    background-color: #ff0000;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    top: -4px;
    right: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.addQuantity-cart {
    margin-bottom: 0;
    font-family: "Open Sans", sans-serif;
}

.line_blk-user {
    width: 95%;
    height: 1px;
    margin: 10px 0!important;
}

.dropdown-menu {
    min-width: 13.5rem!important;
    padding: 0!important;
    font-size: 1.1rem!important;
    overflow: hidden!important;
}

.dropdown-item {
    height: 2.6rem!important;
    display: flex!important;
    align-items: center!important;
}

.dropdown-item:active, .dropdown-item:hover {
    background-color: #dddddd!important;
}

.dropdown-toggle::after {
    margin-left: 0.4em!important;
    border-top: .5em solid!important;
    border-bottom: 0em!important;
    border-right: .4em solid transparent!important;
    border-left: .4em solid transparent!important;
    vertical-align: 0.1em!important;
}

.nav_dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 5px;
}