p {
    margin-bottom: 0!important;
}

#productPage {
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 10px 0;
    background-color: #f5f5f5;
}

#listProduct {
    width: 105rem;
    height: 100%;
    min-height: 10rem;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin: 15px 0;
}

#listProduct_header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.25);
}

#listProduct_header-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
}

.listProduct_title {
    font-size: 1.2rem;
}

.listProduct_title, .raquo{
    line-height: 1;
    font-family: Roboto, sans-serif;
    color: #565656!important;
}

.listProduct_text-none {
    user-select: none;
}

.raquo {
    margin: 0 3px;
    font-size: 1.5rem;
}

.listProduct_title-link {
    text-decoration: none;
}

.listProduct_icon {
    display: inline-block;
    transform: scaleX(-1);
    font-size: 2rem;
    color: #313131;
}

#listProduct_filter {
    width: auto;
    height: auto;
    background-color: #ffffff;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: 0;
    border-radius: 5px;
    border: 1px solid #5d5d5d;
    padding: 10px;
    display: none;
}

#listProduct_filter::before {
    content: "";
    position: absolute;
    top: -11px;
    right: 8px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 10px solid #5d5d5d;
}

#listProduct_filter::after {
    content: "";
    position: absolute;
    top: -9px;
    right: 9px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 9px solid #ffffff;
}

.no-products {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    border-radius: 8px;
    margin: 20px auto;
    width: 100%;
}

.no-products p {
    font-size: 1.2rem;
    color: #666;
    text-align: center;
    font-weight: 500;
}

#listProduct_filter1, #listProduct_filter2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

#listProduct_filter2 {
    margin-top: 10px;
}

#listProduct_filter1-title, #listProduct_filter2-title {
    font-size: 1.1rem;
    color: #383838;
    font-weight: 500;
    line-height: 1;
    font-family: Roboto, sans-serif;
}



#listProduct_filter1-btnGroup1 {
    margin-top: 7px;
}

#listProduct_filter1-btnGroup2 {
    margin-top: 5px;
}

.listProduct_filter2-checkboxGroup {
    display: flex;
    flex-direction: row!important;
    align-items: start;
    justify-content: start;
    column-gap: 5px;
}

.css-19opgx6-MuiFormControlLabel-root .MuiFormControlLabel-label {
    font-size: 1rem;
    color: #656565;
}

#listProduct_filter5 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: row;
    column-gap: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
}

#listProduct_filter5-btn1, #listProduct_filter5-btn2 {
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    line-height: 1;
}

#listProduct_filter5-btn1 {
    color: #1976d2;
    border: 1px solid #1976d2;
}

#listProduct_filter5-btn2 {
    color: #ff0022;
    border: 1px solid #ff0022;
}

#listProduct_filter5-btn1:hover, #listProduct_filter5-btn1:active {
    color: #fff;
    background-color: #1976d2;
}

#listProduct_filter5-btn2:hover, #listProduct_filter5-btn2:active {
    color: #fff;
    background-color: #ff0022;
}

#listProduct_content {
    width: 100%;
    height: auto;
    min-height: 10rem;
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 5px;
    position: relative;
    
}

#listProduct_category {
    width: 25rem;
    padding: 10px 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

#listProduct_items {
    width: 85%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.45);
}

#listProduct_category, #listProduct_items {
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    list-style-type: none;
    margin: 0!important;
}

#listProduct_category {
    min-height: 50rem;
}

#listProduct_items {
    min-height: 50rem;
}

.listProductGrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 15px;
    row-gap: 10px;
}

#listProduct_category-item {
    width: 100%;
    height: auto;
    padding: 10px 0;
    border-bottom: 1px solid #bcbcbc;
}

#listProduct_category-item:last-child {
    border-bottom: none;
}

.listProduct_category-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #cacaca;
}

.listProduct_category-name, .listProduct_category-icon {
    font-size: 1.2rem;
}

/* Loading */
#blk_loadingData-product, #blk_errorData-product {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.pagination {
    margin-bottom: 5px;
}

.page-link {
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-link span {
    font-size: 1.3rem;
}