#product1, #product2 {
    width: 105rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#product1 {
    margin-top: 2rem;
}

#product1, #product2 {
    margin-bottom: 1.5rem;
}

#product2 {
    margin-top: 1rem;
}

#product1_title, #product2_title {
    font-size: 1.7rem;
    font-weight: 700;
    color: #444444;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    margin-bottom: 0!important;
    cursor: default;
    user-select: none;
}

#product2_title {
    line-height: 0;
}

#product1_items, #product2_items {
    width: 100%;
    height: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

#product1_items {
    margin-top: 0.5rem;
}

#product2_items {
    margin-top: 2rem;
}

#product2_name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 0;
}

#product2_link {
    color: #3f7fff!important;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#product2_arrow {
    font-size: 1.75rem;
    margin-top: -1px;
    margin-left: 3px;
}

#blk_listBook {
    width: 100rem;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 3%;
    background-color: #fff;
}

/* Block sách */
#blk_listBook-title {
    width: 100%;
    height: auto;
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "Roboto", serif;
    /* margin-top: 10px; */
}

#text_listBook-title {
    font-family: "Roboto", serif;
    text-transform: uppercase;
    text-align: center;
}

/* Block danh sách card */
#blk_listBook-card {
    width: 100%;
    height: auto;
    /* margin-top: 10px; */
    display: grid;
    row-gap: 1.25rem;
    column-gap: 1rem;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
    justify-items: center;
    justify-content: space-between;
    overflow: hidden;
}

#blk_listBook-card > :nth-last-child(-n+6) {
    column-gap: 0;
}

/* Block nút xem thêm */
#blk_listBook-seeMore {
    width: 100%;
    height: auto;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#btn_listBook-seeMore {
    font-size: 16px;
    padding: 1rem 1.5rem;
    font-family: "Poppins", sans-serif;
    border: 2px solid #ff0e0e;
    border-radius: 10px;
    background-color: #fff;
    color: #ff0e0e!important;
}

#btn_listBook-seeMore:active {
    color: #fff!important;
    background-color: #ff0e0e;
}

#blk_loadingData, #blk_error, #blk_noBookYet {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loadingData, #error {
    width: max-content;
    height: auto;
    padding: 1.5rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    /* border: 2px solid #ff0e0e; */
    color: #000;
}

#loadingData-text, #error-text, #noBookYet-text {
    font-size: 24px;
}

