#login {
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url('https://images4.alphacoders.com/973/thumb-1920-973967.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    padding: 10rem 0 10rem 0;
}

.login-form {
    width: 32rem;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
}

.login-title {
    font-size: 2.3rem;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, blue, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#form-blockLogin {
    width: 100%;
    height: auto;
}

.input-box {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.password-box {
    margin-top: 10px;
}

.login_input-text {
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.login-input {
    width: 100%!important;
    height: 3.5rem;
    outline: none;
    border-radius: 5px;
    border: 1px solid #939393;
    font-size: 18px;
    padding-left: 15px;
    background-color: #fff!important;
}

.login_password-input {
    border: none;
}

.login-input::placeholder {
    font-size: 20px;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.login-btn {
    width: 100%;
    height: 3.2rem;
    background-color: #007bff;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    text-transform: inherit;
    font-weight: 500;
    font-family: "Nunito", sans-serif;
}

.btn-box, .login_forgotPass-box {
    width: 100%;
    display: flex;

}

.btn-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.login_forgotPass-box {
    justify-content: space-between;
    align-items: end;
    flex-direction: row;
    margin-bottom: 0;
}

.login_forgotPass-text, .login_signup-text {
    font-size: 1.1rem!important;
    color: #004f98!important;
}

.login_signup-text {
    font-size: 1.1rem;
    /* color: #006cd8; */
}

.hr-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.hr-block {
    width: 100%;
    height: 1px;
    margin: 1.5rem 0;
}

.hr-text {
    font-size: 1.2rem;
    color: #999999;
    margin: 0 5px;
}

.google-box {
    width: 100%;
    height: 3.2rem;
    background-color: #fff;
}

.login-btn-google {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    border: 1px solid #3c3c3c;
    font-family: "poppins", sans-serif;
    background-color: #fff;
}

.img-google {
    width: auto;
    height: 100%;
}

.text-google {
    margin-top: 3px;
    font-size: 17px;
    font-family: "Nunito", sans-serif;
}

.login_block-password {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid #939393;
    border-radius: 5px;
}

.login_block-eye {
    padding: 0 10px;
}

.eye-icon {
    font-size: 1.8rem;
    margin-top: 3px;
}

#error-login {
    font-size: 1.2rem;
    color: #ff0b0b;
    margin-top: 5px;
}

.success-message {
    color: green;
    font-size: 16px;
    margin-top: 10px;
}

.login_block-password, .login_username-input {
    margin-top: 5px;
}