#block_register {
    width: 100%;
    height: 100%;
}

#register {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
    background-position: center;
    transition: background-image 0.6s ease-in-out;
}

#register_block {
    width: 32rem;
    height: auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 15px 30px;
    flex-direction: column;
}

#register-title {
    font-size: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    font-family: "Nunito", sans-serif;
    line-height: 1.2;
    margin-top: 5px;
}

#register_blk, #register_input {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#register_blk {
    justify-content: start;
}

#register_input-blk {
    width: 100%;
    height: auto;
    justify-content: start;
    margin-top: 10px;
    color: #545454;
}

.label_register {
    font-size: 1.15rem;
    font-weight: 500;
    color: #201d1d;
    font-family: "Open Sans", serif;
}

#input_register {
    width: 100%;
    height: 3.2rem;
    outline: none;
    border-radius: 5px;
    border: 1.5px solid #898989;
    font-size: 18px;
    padding: 0 5px 0 10px;
    margin-top: 3px;
}

#input_register::placeholder {
    font-size: 20px;
}

#error_register {
    font-size: 1.1rem;
    color: #ff0b0b;
    margin-top: 5px;
}

#register_btn {
    width: 100%;
    height: 3.5rem;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #077bff;
    color: #fff;
    font-size: 1.45rem;
    border: none;
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
    font-weight: 500;
}

#register_btn:hover {
    background-color: #0761c7;
}

#block_notify {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.block_notification {
    width: 100%;
    font-size: 16px!important;
    text-align: center!important;
    padding-top: 5px!important;
}

#back_signin {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#back_signin-text {
    font-size: 1.1rem;
}

.css-gb418l-MuiButtonBase-root-MuiButton-root {
    width: 13rem!important;
    font-size: 1.15rem!important;
    padding-top: 10px!important;
}

.back_signin-textLink {
    color: #2b7ae1!important;
    font-weight: 400!important;
}

.back_signin-textLink:active, .back_signin-textLink:hover {
    color: #003d8e!important;
}

/* --------------------------- Verify Code --------------------------- */

.verify_blk {
    width: 32rem;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 30px 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.verify_title {
    font-size: 1.8rem;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        #041d44 0%,
        #c40b05 40%,
        #c40b05 50%,
        #c40b05 70%,
        #041d44 100%
    );
    background-size: 200% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: colorFlow 5s linear infinite;
}

@keyframes colorFlow {
    to {
        background-position: 200% -200%;
    }
}

.verify_form {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}

.verify_input {
    width: 100%;
    height: 3.5rem;
    border-radius: 5px;
    border: 1.5px solid #898989;
    padding-left: 12px;
    font-size: 20px;
}

.verify_btn {
    width: 100%;
    height: 3.4rem;
    background-color: #077bff;
    color: #fff;
    margin-top: 10px;
    font-size: 1.3rem;
    border: none;
    font-family: "Nunito", sans-serif;
    border-radius: 5px;
    outline: none;
}

.verify_btn:hover {
    background-color: #0665d1;
}

.verify_message {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: -5px;
    margin-top: 5px;
}

.verify-success  {
    font-size: 1rem;
}

.verify-error {
    color: #ff0b0b;
}

.verify-success {
    color: #1599ff;
}

.verify_timer {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 8px;
    /* position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1; */
}

.verify_timer-text {
    font-size: 17px;
    color: #171717;
    line-height: 1;
    font-family: "Nunito", sans-serif;
    text-align: center;
}

.verify_timer-text span {
    font-weight: 600;
}